{% extends "layout.njk" %}
{% block head %}
  <title>Conteúdos - Imagine Arquitetura</title>
  {% endblock%}

  {% block content%}
    <h1>Algumas dicas e conteúdos</h1>
    <section class="cards">
      <div class="card">
        <div class="imgCard">
          <img src="/imgs/WhatsApp Image 2020-04-01 at 09.28.32 (1).jpeg"/>
        </div>
        <div class="cardContent">
          <p>
            MoodBoard é uma importante ferramenta pra comunicação com o cliente na hora de organizar ideias. Mas como usa-la? .
          </p>
        </div>
        <div class="cardInfo">
          <a class="verMais">Ver</a>
        </div>
      </div>
      <div class="card">
        <div class="imgCard">
          <img src="/imgs/WhatsApp Image 2020-04-01 at 09.28.32 (1).jpeg"/>
        </div>
        <div class="cardContent">
          <p>Postagem no instagram ensinando a fazer alguma coisa.</p>
        </div>
        <div class="cardInfo">
          <p class="verMais">Ver</p>
        </div>
      </div>
      <div class="card">
        <div class="imgCard">
          <img src="/imgs/WhatsApp Image 2020-04-01 at 09.28.32 (1).jpeg"/>
        </div>
        <div class="cardContent">
          <p>Postagem no instagram ensinando a fazer alguma coisa.</p>
        </div>
        <div class="cardInfo">
          <p class="verMais">Ver</p>
        </div>
      </div>
      <div class="card">
        <div class="imgCard">
          <img src="/imgs/WhatsApp Image 2020-04-01 at 09.28.32 (1).jpeg"/>
        </div>
        <div class="cardContent">
          <p>Postagem no instagram ensinando a fazer alguma coisa.</p>
        </div>
        <div class="cardInfo">
          <p class="verMais">Ver</p>
        </div>
      </div>
      <div class="card">
        <div class="imgCard">
          <img src="/imgs/WhatsApp Image 2020-04-01 at 09.28.32 (1).jpeg"/>
        </div>
        <div class="cardContent">
          <p>Postagem no instagram ensinando a fazer alguma coisa.</p>
        </div>
        <div class="cardInfo">
          <p class="verMais">Ver</p>
        </div>
      </div>
      <div class="card">
        <div class="imgCard">
          <img src="/imgs/WhatsApp Image 2020-04-01 at 09.28.32 (1).jpeg"/>
        </div>
        <div class="cardContent">
          <p>Postagem no instagram ensinando a fazer alguma coisa.</p>
        </div>
        <div class="cardInfo">
          <p class="verMais">Ver</p>
        </div>
      </div>
    </section>
  {% endblock %}