{%extends "layout.njk" %}

{% block head%}
  <title>Error 404 - Imagine Arquitetura</title>
{% endblock %}

{% block content %}
  <div class="conteudo">
    <h1>
      ERRO 404 - Essa página não existe, use o menu acima para navegar para uma pagina existente.
    </h1>
  </div>
{% endblock %}