{% extends "layout.njk" %}
{% block head%}
  <title>Sobre - Imagine Arquitetura</title>
  {% endblock%}}
  {% block content%}
    <div class="conteudo">
      <img src="https://instagram.fbhz8-1.fna.fbcdn.net/v/t51.2885-19/s150x150/83584403_819658085177563_3684770773882372096_n.jpg?_nc_ht=instagram.fbhz8-1.fna.fbcdn.net&amp;_nc_ohc=72pnP-5EioQAX-sMgk3&amp;oh=9e39ffc830a9903674eaef2582e7a213&amp;oe=5EAB2F66" alt="logo da empresa"/>
      <h1>Imagine arquitetura</h1>
      <p>
        Imagine arquitetura é uma empresa recem lançado pelas fundadoras Isabolinha e Milena.
      </p>
      <h3>Tecnologias Utilizadas:</h3>
      <ul>
        <li>Carro para uber</li>
        <li>Computador topper para rodar jogos</li>
        <li>Café, mas so pra quem gosta</li>
      </ul>
    </div>
    <div class="linksFooter">
      <a href="">Instagram</a>
      <a href="">Facebook</a>
    </div>
    {% endblock%}